// Specific CSS for your home-page

.landing-navbar {
  height: 100px;
}

.category-img{
  height:200px; width:200px;
}

.home-business-detail{
  margin-left:15px;
}

.home-category-links:hover {
  color: #FFF2BF !important;
}


@media screen and (max-width: 480px){
  .landing-navbar {
    height: 80px !important;
  }

  .category-img {
    height:100px; width:100px !important;
  }

  .display-none {
    display:none;
  }

  #collapseExample {
    margin-left:0;
  }

}

@media screen and (min-width: 481px) and (max-width: 959px) {
  #sign-in-search-engine {
    display:none;
  }
}

@media screen and (min-width: 960px) {
  #sign-in-search-engine {
    display:none;
  }
}
