.user-signed-in-sidebar {
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 200px;
  height: 800px;
  text-align: center
}
.user-signed-in-main-container {
  height: 600px;
  width: 800px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mapboxgl-ctrl-geocoder {
  // position: relative;
  // z-index:10 !important;
  height: 36px !important;
  border-radius: 15px;
  background-color: #F4F4F4;
  border: 1px solid #ced4da;
  height: 32px;
}

@keyframes shiny {
  0% {
      transform: scale(0) rotate(25deg);
      opacity: 0;
  }

  50% {
      transform: scale(1) rotate(25deg);
      opacity: 1;
  }

  100% {
      transform: scale(50) rotate(25deg);
      opacity: 0;
  }
}

.shiny {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FFE066;
  cursor: pointer;
  overflow: hidden;
}

.shiny::after {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);
  animation-name: shiny;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}



.form-control {
  border-radius: 15px
}


.home-card-slide card {
  width: 200px;
}

.home-card-slidecard-body {
  height: 30px !important;
}

.mapboxgl-ctrl-geocoder--icon-search{
  display:none;
}

@media screen and (max-width: 480px){
  .signed-in-search-glass-container {

  }

  .signed-in-search-glass {
    position: relative;
    bottom: 50px;
    margin-left: 345px;
    z-index: 50;
    // margin-left: 400px;
  }
  .user-signed-in-sidebar {
    display:none;
  }

  .user-signed-in-main-container {
    width:100vw;
    margin-left:0;
  }

  .sign-in-right-container {
    width:100%;
  }

  .dropdown-icon {
    display:none;
  }

}

@media screen and (min-width: 481px) and (max-width: 959px) {
  .user-signed-in-sidebar {
    display:none;
  }

  .sign-in-right-container {
    width: 800px;
  }

  .sign-in-search-engine {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .sign-in-search-engine {
    display:none;
  }

  .sign-in-right-container {
    width:900px;
    margin-left: 100px;
  }

  .sign-in-search-engine {
    display: none;
  }

  .user-signed-in-sidebar {
  }


}
