
    <%# dashbored2 %>
    <!--
    <div class="mt-2 corner shiny" style=" background-color:#333; box-shadow: 0 0 15px rgba(0,0,0,0.2); margin: 0 auto; width:80%; height:60px;">
      <div class="d-flex justify-content-around">
        <h3 style="color:white" class="mt-3">My itinerary</h3>
        <%= link_to "View",  my_itinerary_path, class:"btn btn-light mt-2 mb-2" %>
      </div>
    </div>
-->

<%# mxisvfhwx3skmxad3fh7 %>
<%# dfukniqn3auawithsdih %>
