
<div class="footer blue" style="height: 24vh; color:white; position-relative; bottom:0px;">
  <div class="d-flex justify-content-center" style ="width:100vw;">
    <div class="d-flex align-items-center" style="margin-top: 5vh;">
      <div>
          <h6>Home</h6>
          <h6>Help</h6>
          <h6>Work with us</h6>
      </div>
      <div style ="width: 20vw;">
      </div>
      <div>
          <h6>About</h6>
          <h6>Terms</h6>
          <h6>Guideline</h6>
      </div>
    </div>
  </div>
    <div style="width: 100vw;"class="d-flex justify-content-center">
        <div style="width: 100px;" class="d-flex justify-content-around">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <h5>Seekr.com</h5>
    </div>
</div>
