<div class="landing-body" style="height:; background-color:#FFF2BF; text-align:center;">

  <section class="colored-section" id="testimonials">
    <div id="testimonial-carousel" class="carousel slide" data-bs-interval="false">
      <div class="carousel-inner">

          <%# page 1 %>
          <div class="carousel-item active container-fluid carousel-item1">
            <div class="carousel-item1-product-text">
              <div class="product-lineup">
                <div class="mb-2">
                  <img class="landing-product-img" src="https://image.made-in-china.com/2f0j00QkARoTIgbwcM/High-Quality-Gown-Private-Label-New-Design-Factory-Spring-Private-Label-Fashion-Women-Clothes-Beautiful-Dresses-Ladies-Dress.jpg" alt="">
                  <img class="landing-product-img" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/4AONWZS3WNHE5DXO7ZVLP6S4YI.jpg" alt="">
                  <img class="landing-product-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSreefOpjz1DuB9fTqkaFpWM3gWK2ujIaCxsA&usqp=CAU" alt="">
                </div>

                <div class="mb-2">
                  <img class="landing-product-img" src="https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com/PIE/product/611ac5594d48fb60ede06fe6_00049200007402-glamor-frontpackageglamor-2021-01-12t20-08-14-iphone-x-quality-90-1-21-8-user-5984ad42a967f880524de2c4-otvq-155576.jpg" alt="">
                  <img class="landing-product-img" src="https://www.changinghands.com/sites/changinghands.com/files/teenbundle.jpg" alt="">
                  <img class="landing-product-img" src="https://m.media-amazon.com/images/I/71D9ImsvEtL._UY500_.jpg" alt="">
                </div>

                <div class="mb-2">
                  <img class="landing-product-img" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1665603924-dagne-dover-dakota-neoprene-backpack-in-camel-1665603915.jpg" alt="">
                  <img class="landing-product-img" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-model-unselect-gallery-1-202207?wid=2560&hei=1440&fmt=jpeg&qlt=95&.v=1654893619853" alt="">
                  <img class="landing-product-img" src="https://www.eatthis.com/wp-content/uploads/sites/4/2022/02/Beer-flight.jpg?quality=82&strip=all" alt="">
                </div>
              </div>

              <h4 style="" class="testimonial-text-mobile">The shopping guesswork is over. Don't wander. Seek it, find it, get it!</h4>

              <div>
                <h5 style="" class="testimonial-text1">The shopping guesswork is over. Don't wonder. Seek it, find it, get it!</h5>

                <div class="carousel-item1-buttons">
                  <%= link_to "Signup", new_user_registration_path, class:"btn btn-light", style:"width:100px;" %>
                  <%= link_to "Login", new_user_session_path, class: "ms-3 btn btn-light", style:"width:100px;"  %>
                </div>
              </div>

            </div>
          </div>

          <%# page 2 %>
          <div class="carousel-item carousel-item2 container-fluid">
            <div class="carousel-item2-items">
              <h4 style="" class="carousel-item2-text-1 m-4">Find any product on the highstreet, quickly and conveniently.</h4>
              <img src="https://res.cloudinary.com/dicqfpbyc/image/upload/v1671060081/ar35m89mudynvqv6p98h.png"  class="mac-image" />
              <h4 style="color:white" class="carousel-item2-text m-4">Find any product on the highstreet, quickly and conveniently.</h4>
            </div>
          </div>

          <div style="background-color:white;" class="carousel-item carousel-item3 container-fluid">
            <div class="body-card-container container">

              <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px;">
                <div class="face face1">
                  <div class="content">
                      <%# <i class="fab fa-windows"></i> %>
                    <h3>Why use seeker?</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p> Seekr saves you time, hassle and stress when you need to buy something from the highstreet. You'll be able to fit more into your day by using our unique planning tools.</p>
                    <%# <a href="#" type="button">Read More</a> %>
                  </div>
                </div>
              </div>

              <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px;">
                <div class="face face1">
                  <div class="content">
                    <%# <i class="fab fa-android"></i> %>
                    <h3>Optimise your shopping trip</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p> Whether you're in a hurry or you just like to be organised, Seekr's got you. Plan the perfect route to find those Christmas items this year!</p>
                    <%# <a href="#" type="button">Read More</a> %>
                  </div>
                </div>
              </div>

              <div class="card" style="border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px;">
                <div class="face face1">
                  <div class="content">
                    <%# <i class="fab fa-apple"></i> %>
                      <h3>Business mode</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p> Own a highstreet business? Seeker allows you to stand out from the crowd. Make your best products easy to find and attract your perfect customer!</p>
                    <%# <a href="#" type="button">Read More</a> %>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>


          <button class="carousel-control-prev" type="button" href="#testimonial-carousel" data-bs-slide="prev">
            <span style="background-color:#333" class="corner carousel-control-prev-icon"></span>
          </button>

          <button class="carousel-control-next " type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span style="background-color:#333" class="corner carousel-control-next-icon"></span>
          </button>
     </div>
    </div>
  </section>

</div>
