<div style="height:600px; margin-top:40px;">
  <h2 class="">category</h2>

  <%# category list %>
  <div class="d-flex justify-content-around">
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
  </div>

  <div class="d-flex justify-content-around">
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
    <div class="round" style="background-color:#2997D8; height:200px; width:200px"></div>
  </div>

</div>
