
<div style="background-color: #2997D8; height: 500px; " class="d-flex justify-content-center">
  <div class="" style="text-align:center">
    <h1 style="font-weight: bold; color:white; margin-top:130px ">Find anything on the highstreet</h1>
    <div>
      <%# if it's not the langing page, put the search engine in the navbar %>
    <%= simple_form_for :filters, url: new_itinerary_path, method: :get do |f| %>
        <%= f.input :seek %>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        <%= button_tag type: 'submit', class:"btn" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
