
<div style="background-color: #2997D8; height: 500px; " class="d-flex justify-content-center">
  <div class="" style="text-align:center">
    <h1 style="font-weight: bold; color:white; margin-top:130px ">Find anything on the highstreet</h1>
    <div>
      <%= form_with url: businesses_path, method: :get, class: "" do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control",
                            style:"border-radius: 10px",
                            placeholder: "Seek a product.."
                            %>
        <div class="d-flex">
        <%= text_field_tag :address,
                            params[:address],
                            class: "mt-2 form-control",
                            style:"border-radius: 10px",
                            placeholder: "Add location"
                            %>

        <%= button_tag type: 'submit', class:"btn" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
