<div class="home-card-slide col-lg-3 d-flex row flex-row flex-nowrap overflow-auto" style="margin: 0 auto; width: 100%">
<div class="corner card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Oxxo</h3>
  </div>
  <img class="mt-2"style="width:100%" src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/Oxxo-3.jpg" class="card-img-top" alt="...">
</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Tienda en Roma</h3>
  </div>
  <img src="https://s3.amazonaws.com/businessinsider.mx/wp-content/uploads/2020/06/18123255/tienda-tiendas-tienditas-negocios-ventas-dulces-refrescos-mexico.jpg" class="card-img-top" alt="...">

</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Cuidado con el Perro</h3>
  </div>
  <img src="https://diario.mx/jrz/media/uploads/galeria/2022/04/29/20220429103521946-0-1925181.jpg" class="card-img-top" alt="...">
</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Mcdonalds</h3>
  </div>
  <img src="https://media.admagazine.com/photos/618a62445e45a526c6be8c1d/1:1/w_2391,h_2391,c_limit/83594.jpg" class="card-img-top" alt="...">
</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Miniso roma norte</h3>
  </div>
  <img src="https://cdn-3.expansion.mx/dims4/default/663d22b/2147483647/strip/true/crop/1500x844+0+0/resize/1200x675!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fb1%2F75%2Fe1cfc63543049bd11d745670a933%2Fminiso.jpg" class="card-img-top" alt="...">
</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Pull&bear</h3>
  </div>
  <img src="https://laperla.com.mx/wp-content/uploads/2022/04/pull-bear-2.jpg" class="card-img-top" alt="...">
</div>
<div class="corner ms-2 card" style="width: 14rem;">
  <div class="home-card-slidecard-body card-body">
    <h3 class="card-text">Moshi Moshi</h3>
  </div>
  <img src="https://fastly.4sqi.net/img/general/600x600/42347570_PuP3dqmmh-J3SSvkJfdR5_ffyOeqC9M8z8CfPNjNscg.jpg" class="card-img-top" alt="...">
</div>
</div>
