
<div class="mt-2 mb-2" style="text-align:center; background-color: #FFE066; height: 40px; width:100%;">
  <h3 style="color:black">Shops near you</h3>
</div>


<% if current_user.location == nil %>
  <h5 style="text-align:center " class="mt-4 mb-4"> Set your location to see stores around you</h5>
<% elsif @shops == [] %>
  <h5 style="text-align:center " class="mt-4 mb-4"> Sorry... no shops around your current address at the moment..</h5>
<% else %>
  <% @shops.each do |shop| %>
  <div class="mb-2 d-flex">
     <img style="width:120px; height:120px" src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/Oxxo-3.jpg" alt="">
     <div class="">
      <%= shop.name %>
      <%= shop.address %>
     </div>
  </div>
  <% end %>
<% end %>
