.white-btn{
  background-color: white;
  color: #0C8CE9;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
}
.blue-btn{
  background-color: #2997D8;
  color: white;
  width: 120px;
  height: 30px;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.blue-btn:hover {
  color: white;

}
