.current-location-input-form {
  display: flex !important;
}

.current-location-input-form-submit {
  position: relative;
  right: 10px;
  z-index: 30;
  height: 37px;
  border-radius: 0 15px 15px 0;
}

.location-detail {
  color:white;
}

.dashbrod-detail {
  color:white;
}

.dashbored-name {
  color:white;
  font-weight:bold;

}

.home-current-location {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 480px){
  .current-location-btn {
    margin-top:10px;
    margin-right:10px;
  }

  .location-detail {
    display: flex;
    justify-content: space-around;
  }

  .home-current-location {
    margin-top: 10px;
    width:50px;
  }

  // .dashbored-name-address {
  //   width:400px;
  // }
}


@media screen and (min-width: 481px) and (max-width: 959px) {
  .location-detail{
    display: flex;
    justify-content: space-around;
  }

  .current-location-input-form {
    margin-left:50px
  }

  .current-location-btn {
    margin-top: 30px;
    margin-left: 20px;
  }

  .home-current-location {
    margin-top: 10px;
    width:100px;
  }

}

@media screen and (min-width: 960px) {
  .location-detail{
    display: flex;
    justify-content: space-around;
  }

  .current-location-input-form {
    margin-left:50px
  }

  .current-location-btn {
    margin-top: 30px;
    margin-left: 20px;
  }

  .seek-search {
    border-radius: 0;
  }

  .home-current-location-pin{
    margin-top: 14px;
  }

  .home-current-location {
    margin-top: 10px;
    width:300px;
  }

}
