.round {
  border-radius:50%;
}

.blue {
  background-color: #2997D8;
}


.white {
  background-color: white;
}


// for responsible screens
// smart-phone tablet PC

// @media screen and (max-width: 480px){
// }
// @media screen and (min-width: 481px) and (max-width: 959px) {
// }
// @media screen and (min-width: 960px) {
// }
