.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px white
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media screen and (max-width: 480px){
  .icon-nav {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 959px) {
  .humberger-nav {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .humberger-nav {
    display: none;
  }

}


  @media screen and (max-width: 480px){

  }
  @media screen and (min-width: 481px) and (max-width: 959px) {
    .navbar-lewagon {
      border-bottom: solid 1px white
    }
  }
  @media screen and (min-width: 960px) {
    .navbar-lewagon {
      border-bottom: solid 1px white
    }
  }
